{% extends 'base.html' %}
{% load static %}

{% block title %} About Us {% endblock %}

{% block body %}
    <div class="container">
        <br>
        <h4 style="color:blue" class="font-weight-bold font-italic">About Us</h4>
        <br>
        <div class="container">
        <p style="color:black;">Welcome to Felicia,
            Felicia was established in 2001, Felicia provides wide and diverse products, so it is easy to choose among products.
            we got the 24 hrs tech support which will solve your issue related to any product.we guarantee 30 day replacement on all our products.
            we care for our customers.we have strict policy regarding genuine and authentic products.</p>
        </div>
        <br>
        <h5 style="color:blue;" class="font-weight-bold font-italic">Queries</h5>
        <br>
        <div class="container">
            <ul>
                <li>
                <h6 style="color:black;">+333 222 3333</h6>
                </li>

            <br>
                <li>
            <p style="color:black;">+222 11 4444</p>
                </li>
            <br>
                <li>
            <p style="color:black;">mail1@example.com</p>
                </li>
            <br>
                <li>
            <p style="color:black;">mail2@example.com</p>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}