<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>change password</title>
</head>
<style>
    h4{
        color: red;
    }
</style>
<body>
<div class="container">
    <form method="POST">
        {{form.non_field_errors}}
        {% csrf_token %}}
        {% for field in form %}
        {{field.label_tag}}
        {{field}}
        {{field.help_text|safe}}
        {% if field.errors %}
            <h4>{{field.error}}</h4>
        {% endif %}
        {% endfor %}
     <button type="submit">save</button>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{message.tags}}"{% endif %}>
                <h3>{{message}}</h3>
            </li>
        {% endfor %}
        </ul>>
        {% endif %}
        <a href="{% url 'index' %}"></a>
    </form>
</div>

</body>
</html>