{% extends 'base.html' %}

{% load static %}
{% block css %}
         .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 200px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;

}
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}
.row {margin: 0 -5px;}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
 {% endblock %}

 <!--  -->

{% block body %}
<!-- top Products --><br>
<div class="row">
{% for n in newarvls %}
<div class="column">

   <div class="card">
    <img src="{{n.image.url}}" alt="----" style="width:100%">
    <h1>{{n.product_name}}</h1>
    <p class="price">{{n.price}}</p>
    <p>{{n.desc}}</p>
    <p>{{n.category}}</p>
    <p>{{n.subcategory}}</p>
  </div> 
  
</div>
{% endfor %}
</div>
{% endblock %}