{% include "users/web/admin/common/header.html" %}
{% load static %}
{% get_static_prefix as STATIC %}
{% include "users/web/admin/common/menu.html" %}

<title>BeerBuddy:ChangePassword</title>
 <div id="page-wrapper">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">Change Password</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">Home</li>
                        <li class="breadcrumb-item active">Change Password</li>
                    </ol>
                </div>
            </div>
            <div class="container-fluid">


                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="card form-card" style="max-width: 600px;margin: auto;">

                            <div class="card-body">
                                <!-- form start -->
                              <form  method="post" action="" id="ChangePassword" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">

                                        {% csrf_token %}


                                    <div class="box-body">
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <label for="oldpassword">Old Password <span class="error">*</span></label>
                                                <input type="password" name="oldpassword" class="form-control"  >
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <label for="newpassword">New Password <span class="error">*</span></label>
                                                <input type="password" name="newpassword" id="password" class="form-control"  >
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <label for="confirmpassword">Confirm Password <span class="error">*</span></label>
                                                <input type="password" name="confirmpassword" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-footer">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <a href="/web/users/change_password/" class="btn btn-danger" >Cancel</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
 </div>

<div class="container">
  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">


        <!-- Modal body -->
        <div class="modal-body">
          {{msg}}
        </div>
        <div class="modal-footer">
            {% if status == "success" %}
          <a href="/web/users/logout/" class="btn btn-danger" >OK</a>
            {% else %}
           <a href="/web/users/change_password/" class="btn btn-danger" >OK</a>
            {% endif %}
        </div>

      </div>
    </div>
  </div>
</div>
<style>
    .modal.active{
    display:block;}
</style>


{% include "users/web/admin/common/footer.html" %}

        {% if msg %}
         <script type="text/javascript">
         $(window).on('load',function(){

        $('#myModal').addClass('active');
        });
        </script>
        {% endif %}

<script>

$("#ChangePassword").validate({
rules: {
    oldpassword: {
    required: true,
    minlength: 5,
    },
    newpassword: {
    required: true,
    minlength: 5,
    },
    confirmpassword: {
    required: true,
    minlength: 5,
    equalTo : "#password",
    },


    },
    });
</script>