{% include "users/web/admin/common/header.html" %}
{% load static %}
{% get_static_prefix as STATIC %}
{% include "users/web/admin/common/menu.html" %}
<title>BeerBuddy:EditTermsConditions</title>
<div id="page-wrapper">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Edit Terms & Conditions</h3>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <div style="padding:20px">

                                <div style="text-align: center;">
                                    {% if is_message == 1 %}
                                    <div class="alert alert-success">
                                        {{message}}
                                    </div>
                                    {% elif is_message == 0 %}
                                    <div class="alert alert-danger">
                                        {{message}}
                                    </div>
                                    {% else %}

                                    {% endif %}

                                </div>
                                <div class="x_content">
                                    <br>
                                    <form method="post" id="privacy-add" enctype="multipart/form-data"
                                          data-parsley-validate="" class="form-horizontal form-label-left"
                                          novalidate="">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="title" class="col-xs-12">Title</label>
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <input type="text" name="title" autocomplete="off"
                                                       value="{{terms_condition_obj.title}}" class="form-control"
                                                       placeholder="">{{message}}
                                            </div>
                                        </div>
                                        <div>

                                            <div class="form-group">
                                                <label for="slug" class="col-xs-12">Slug</label>
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <input type="text" name="slug" autocomplete="off"
                                                           value="{{terms_condition_obj.slug}}" class="form-control"
                                                           placeholder="" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <head>
                                            <meta charset="utf-8">
                                            <title>CKEditor</title>
                                            <script src="https://cdn.ckeditor.com/4.11.2/standard/ckeditor.js"></script>
                                        </head>

                                        <div class="form-group">
                                            <label for="content" class="col-xs-12">Content</label>
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <textarea rows="4" cols="50" name="content" class="form-control"
                                                          placeholder="">{{terms_condition_obj.content}}</textarea>
                                                <script>
                                    CKEDITOR.replace( 'content' );

                                                </script>
                                            </div>

                                            <div class="ln_solid"></div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group">

                                                <button class="btn btn-primary btn-success" type="submit">Save</button>
                                                <a href="/web/users/terms-condition/" class="btn btn-danger">Cancel</a>

                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>

                            <script>
      $("#privacy-add").validate({
rules: {

title: {
required:true,

},


},
messages: {



title:{
required:"This field is required",


},



}
});

                            </script>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>

{% include "users/web/admin/common/footer.html" %}