{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5 mb-5">
        <div class="col-lg-10">
            <h1 style="color:dark"> Contact </h1>
            <div class="contact-details">
              <h6 class="black">Bootstrap Blog</h6>
              <p>53 Broadway, Broklyn, NY 11249</p>
              <p>Phone: (020) 123 456 789</p>
              <p>Email: <a href="mailto:info@company.com">Info@Company.com</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}